.operate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.user {
    width: 260px;
    // 均匀分布
    display: flex;
    justify-content: space-between;

}

.page {
    width: 280px;
    // 均匀分布
    display: flex;
    justify-content: space-between;
    input{
        width: 200px;
    }
}